<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta name="Author" content="bob walker" />
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> 
    <link rel="openid.server" href="http://www.dreamwidth.org/openid/server" />
    <link rel="openid.delegate" href="http://bob.dreamwidth.org/" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="http://randomness.org.uk/atom.xml" />
    <title>{{ page.title }}</title>
  </head>
<body>
  {{ content }}
</body>
</html>
